Source: kde4pim
Section: kde
Priority: optional
Maintainer: Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 5), cmake (>= 2.6.0), quilt,
 kdepimlibs5-dev (>= 4:4.0.72), libphonon-dev (>= 4:4.0.72), libplasma-dev (>= 4:4.0.72),
 libgpgme11-dev, libboost-dev, libboost-graph-dev, libsasl2-dev,
 xsltproc, libgnokii3-dev, libxss-dev, libqca2-dev (>= 2.0.0),
 libpisock-dev, libopensync1exp3-dev, libassuan-dev,
 libstreams-dev, libstreamanalyzer-dev, libsearchclient-dev,
 libstrigihtmlgui-dev, libstrigiqtdbusclient-dev, zlib1g-dev,
 libakonadi-dev
Standards-Version: 3.7.2
Homepage: http://pim.kde.org/

Package: kdepim
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Personal Information Management apps from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of Personal Information Management
 (PIM) applications provided with the official release of KDE.

Package: kdepim-dbg
Priority: extra
Section: libdevel
Depends: kdepimlibs-dbg
Architecture: any
Description: debugging symbols for kdepim
 This package contains the debugging symbols associated with kdepim.
 They will automatically be used by gdb for debugging kdepim-related
 issues.

Package: kdepim-doc
Section: doc
Architecture: all
Suggests: konqueror | www-browser, doc-base
Description: KDE Personal Information Management library documentation
 KDE core library documentation. You need this documentation to develop KDE PIM
 applications.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: akonadi
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Homepage: http://pim.kde.org/akonadi/
Description:

Package: akregator
Section: web
Architecture: any
Depends: ${shlibs:Depends}
Homepage: http://akregator.kde.org/
Description: RSS feed aggregator for KDE
 aKregator is a fast, lightweight, and intuitive feed reader program
 for KDE.  It allows you to quickly browse through hundreds of
 thousands of internet feeds in a quick, efficient, and familiar way.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kaddressbook
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kdepim-kresources
Description: KDE address book
 KAddressBook is the main address book application for KDE; it enables you
 to manage your contacts efficiently and comfortably. It can load and save
 your contacts to many different locations, including the local file system,
 LDAP servers, and SQL databases.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kalarm
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kmix, kttsd
Homepage: http://www.astrojar.org.uk/kalarm/
Description: KDE alarm message, command and email scheduler
 KAlarm provides a graphical interface to schedule personal timed events -
 pop-up alarm messages, command execution and sending emails. There is a
 range of options for configuring recurring events.
 .
 A pop-up alarm can show either a simple text message, or the contents of a
 text or image file, It can optionally be spoken, or play a sound file. You
 can choose its appearance, and set reminders. Among KAlarm's other
 facilities, you can set up templates to allow KAlarm to be used as a 'tea
 timer'.
 .
 As an alternative to using the graphical interface, alarms can be scheduled
 from the command line or via DCOP calls from other programs. KAlarm is
 KDE-based, but will also run on other desktops.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kdepim-kresources
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: korganizer
Suggests: knotes
Description: KDE pim resource plugins
 This package includes several plugins needed to interface with groupware
 servers. It also includes plugins for features such as blogging and
 tracking feature plans.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kdepim-wizards
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: egroupware
Description: KDE server configuration wizards
 This package contains KDE-based wizards for configuring eGroupware,
 Kolab, and SUSE Linux Openexchange servers.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kitchensync
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: konqueror
Conflicts: kdebluetooth-irmcsync (<< 0.99+1.0beta2-4.1)
Homepage: http://www.opensync.org/wiki/kitchensync
Description: Synchronization framework
 This package contains a synchronization framework, still under heavy
 development.  Kitchensync uses opensync.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kleopatra
Section: net
Architecture: any
Depends: ${shlibs:Depends}, gnupg-agent, gnupg2, gpgsm, dirmngr, pinentry-qt | pinentry-x11
Description: KDE Certificate Manager
 Kleopatra is the KDE tool for managing X.509 certificates in the gpgsm
 keybox and for retrieving certificates from LDAP servers.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kmail
Section: mail
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}
Recommends: procmail
Suggests: gnupg, gnupg-agent, pinentry-qt | pinentry-x11, kaddressbook, kleopatra, spamassassin | bogofilter | annoyance-filter | spambayes | bsfilter | crm114, clamav | f-prot-installer
Replaces: kmailcvt (<< 4:3.90.0)
Provides: imap-client, mail-reader
Homepage: http://kontact.kde.org/kmail/
Description: KDE Email client
 KMail is a fully-featured email client that fits nicely into the KDE
 desktop. It has features such as support for IMAP, POP3, multiple accounts,
 mail filtering and sorting, PGP/GnuPG privacy, and inline attachments.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kmobiletools
Section: 
Architecture: any
Depends: ${shlibs:Depends}
Homepage: http://www.kmobiletools.org/
Description: KDE application to control mobile phones
 MobileTools is a KDE application that allows you to control your mobile phone.
 Actually, this application supports: SMS reading/writing/sending/deleting ,
 multiple SMS destinations (if supported by the phone), calls handling (dial,
 answer, close), phonebook reading, viw last answered calls and last unanswered
 calls lists.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: knode
Section: news
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kdepim-dev (<< 4:3.4.0)
Provides: news-reader
Homepage: http://kontact.kde.org/knode/
Description: KDE news reader
 KNode is an easy-to-use, convenient newsreader. It is intended to be usable
 by inexperienced users, but also includes support for such features as
 MIME attachments, article scoring, and creating and verifying GnuPG
 signatures.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: knotes
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kdepim-kresources
Description: KDE sticky notes
 KNotes is a program that lets you write sticky notes. The notes are saved
 automatically when you exit the program, and they display when you open the
 program.  The program supports printing and mailing your notes.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kode
Section: devel
Architecture: any
Depends: ${shlibs:Depends}
Description: Helper library for programmatic generation of C++ code
 This package includes a program kode for generation of C++ template files
 and kxml_compiler for generation of C++ classes representing XML data
 described by RelaxNG schemes.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: konsolekalendar
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE konsole personal organizer
 KonsoleKalendar is a command-line interface to KDE calendars.
 Konsolekalendar complements the KDE KOrganizer by providing a console
 frontend to manage your calendars.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kontact
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: kitchensync, kmail, knode, knotes
Suggests: akregator, knewsticker, kweather, gnokii
Homepage: http://kontact.kde.org/
Description: KDE pim application
 Kontact is the integrated solution to your personal information management
 needs. It combines KDE applications like KMail, KOrganizer, and
 KAddressBook into a single interface to provide easy access to mail,
 scheduling, address book and other PIM functionality.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: korganizer
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}
Recommends: kghostview
Homepage: http://kontact.kde.org/korganizer/
Description: KDE personal organizer
 This package contains KOrganizer, a calendar and scheduling program.
 .
 KOrganizer aims to be a complete program for organizing appointments,
 contacts, projects, etc. KOrganizer natively supports information interchange
 with other calendar applications, through the industry standard vCalendar
 personal data interchange file format. This eases the move from other
 modern PIMs to KOrganizer.
 .
 KOrganizer offers full synchronization with Palm Pilots, if kpilot is
 installed.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: korn
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE mail checker
 Korn is a KDE mail checker that can display a small summary in the Kicker
 tray.  It supports checking mbox, pop3, imap4, and nntp sources.
 .
 Once mail is received you can have Korn run a third party program or change
 the color/icon of the Kicker display.  In addition to this you can have
 Korn run a program once you click on the docked icon in Kicker.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kpilot
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>= 0.5) | debconf-2.0
Suggests: knotes, korganizer
Homepage: http://cvs.codeyard.net/kpilot/
Description: KDE Palm Pilot hot-sync tool
 KPilot is an application that synchronizes your Palm Pilot or similar device
 (like the Handspring Visor) with your KDE desktop, much like the Palm HotSync
 software does for Windows.  KPilot can back-up and restore your Palm Pilot
 and synchronize the built-in applications with their KDE counterparts.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: ktimetracker
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE time tracker tool
 KTimetracker is a time tracker for busy people who need to keep track of the amount of
 time they spend on various tasks.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: ktnef
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE TNEF viewer
 The TNEF File Viewer allows you to handle mail attachments using the TNEF
 format. These attachments are usually found in mails coming from Microsoft
 mail servers and embed the mail properties as well as the actual attachments.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.


Package: libkdepim4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE PIM library
 This is the runtime package for programs that use the libkdepim library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libkfeed4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}

Package: libkholidays4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: ifoo

Package: libkleo4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}

Package: libkpgp4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}

Package: libksieve4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE mail/news message filtering library
 This is the runtime package for programs that use the libksieve library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libmaildir4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}

Package: libmimelib4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE mime library
 This library is used by several KDE applications to handle mime types.
 .
 This is the runtime package for programs that use the libmimelib library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: strigi-analyzer
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
