Source: kdepim
Section: kde
Priority: optional
Maintainer: Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdelibs5-dev (>=4:3.90.1),
 kdepimlibs5-dev (>=4:3.90.1), libopensync0-dev, libgpgme11-dev, libboost-dev, 
 libsasl2-dev, xsltproc, libgnokii3-dev, libxss-dev, libmysqlclient15-dev,
 kdetoys (>=4:3.90.1)
Standards-Version: 3.7.2

Package: kdepim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Personal Information Management apps from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of Personal Information Management
 (PIM) applications provided with the official release of KDE.
 .
  Homepage: http://pim.kde.org/

