Source: kdepim
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>,
 Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs, debhelper (>= 7), quilt, pkg-kde-tools (>= 0.4.2),
 kdelibs5-dev (>= 4:4.3.0), kdepimlibs5-dev (>= 4:4.3.0),
 libphonon-dev (>= 4:4.3.1),
 libgpgme11-dev, libboost-dev, libboost-graph-dev, libsasl2-dev,
 xsltproc, libgnokii3-dev, libxss-dev, libqca2-dev (>= 2.0.0),
 libassuan-dev,
 libstreams-dev (>= 0.6.3), libstreamanalyzer-dev (>= 0.6.3), libsearchclient-dev (>= 0.6.3),
 libstrigihtmlgui-dev (>= 0.6.3), libstrigiqtdbusclient-dev (>= 0.6.3), zlib1g-dev,
 libakonadi-dev (>= 1.2.0), libpisock-dev, libknotificationitem-1-dev
Standards-Version: 3.8.2
Homepage: http://pim.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/trunk/packages/kdepim
Vcs-Svn: svn://svn.debian.org/pkg-kde/trunk/packages/kdepim

Package: kdepim
Architecture: all
Depends: akregator (>= ${source:Version}), kaddressbook (>= ${source:Version}), kalarm (>= ${source:Version}),
 kdepim-kresources (>= ${source:Version}), kdepim-wizards (>= ${source:Version}),
 kmail (>= ${source:Version}), knode (>= ${source:Version}), knotes (>= ${source:Version}),
 konsolekalendar (>= ${source:Version}), kontact (>= ${source:Version}), korganizer (>= ${source:Version}),
 ktimetracker (>= ${source:Version}), kdepim-strigi-plugins (>= ${source:Version}), kjots (>= ${source:Version}),
 kpilot (>= ${source:Version}), kleopatra (>= ${source:Version}),
Suggests: kdepim-doc
Description: Personal Information Management apps from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of Personal Information Management
 (PIM) applications provided with the official release of KDE.

Package: kdepim-dbg
Priority: extra
Section: debug
Depends: kdepimlibs-dbg
Replaces: kdeutils-dbg (<< 4:4.0.80)
Architecture: any
Description: debugging symbols for kdepim
 This package contains the debugging symbols associated with kdepim.
 They will automatically be used by gdb for debugging kdepim-related
 issues.

Package: kdepim-doc
Section: doc
Architecture: all
Suggests: konqueror | www-browser, doc-base
Description: KDE Personal Information Management library documentation
 KDE core library documentation. You need this documentation to develop KDE PIM
 applications.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: akregator
Section: web
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kontact (<< 4:4.1.80)
Homepage: http://akregator.kde.org/
Description: RSS feed aggregator for KDE
 aKregator is a fast, lightweight, and intuitive feed reader program
 for KDE.  It allows you to quickly browse through hundreds of
 thousands of internet feeds in a quick, efficient, and familiar way.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libkabcommon4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kaddressbook (<< 4:4.1.80)
Description: KDE PIM common addressbook library
 This package contains common address book library used by other
 KDE PIM components.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kaddressbook
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, akonadi-server (>= 1.1.1), kdepim-runtime
Suggests: kdepim-kresources
Replaces: korganizer (<< 4:4.1.80), kontact (<< 4:4.1.80)
Description: KDE address book
 KAddressBook is the main address book application for KDE; it enables you
 to manage your contacts efficiently and comfortably. It can load and save
 your contacts to many different locations, including the local file system,
 LDAP servers, and SQL databases.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kalarm
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kmix, kttsd
Homepage: http://www.astrojar.org.uk/kalarm/
Description: KDE alarm message, command and email scheduler
 KAlarm provides a graphical interface to schedule personal timed events -
 pop-up alarm messages, command execution and sending emails. There is a
 range of options for configuring recurring events.
 .
 A pop-up alarm can show either a simple text message, or the contents of a
 text or image file, It can optionally be spoken, or play a sound file. You
 can choose its appearance, and set reminders. Among KAlarm's other
 facilities, you can set up templates to allow KAlarm to be used as a 'tea
 timer'.
 .
 As an alternative to using the graphical interface, alarms can be scheduled
 from the command line or via DCOP calls from other programs. KAlarm is
 KDE-based, but will also run on other desktops.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kdepim-kresources
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: korganizer
Suggests: knotes
Replaces: korganizer (<< 4:4.1.80)
Description: KDE PIM resource plugins
 This package adds more resource plugins for KDE PIM applications such as
 blogging, tracking feature plans etc.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kdepim-groupware
Section: kde
Architecture: any
Recommends: kdepim-wizards
Replaces: korganizer (<< 4:4.1.80), knotes (<< 4:4.1.80), kaddressbook (<< 4:4.1.80), libkdepim4 (<< 4:4.1.80),
 kdepim-kresources (<< 4:4.1.80)
Depends: ${shlibs:Depends}
Description: KDE PIM Gruopware plugins
 This package includes several plugins used by KDE PIM components to
 interface with Groupware servers. Supported Groupware platforms include
 eGroupware, Kolab 2, Scalix and SLOX (SuSE Linux Openexchange Server),
 Novell GroupWise and GroupDAV.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kdepim-wizards
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, kdepim-groupware (= ${binary:Version})
Suggests: egroupware
Description: KDE server configuration wizards
 This package contains KDE-based wizards for configuring KDE PIM applications
 to access eGroupware, Kolab 2, Scalix and SLOX (SuSE Linux Openexchange
 Server) and Novell GroupWise groupware servers.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

#Package: kitchensync
#Section: kde
#Architecture: any
#Depends: ${shlibs:Depends}
#Suggests: konqueror
#Conflicts: kdebluetooth-irmcsync (<< 0.99+1.0beta2-4.1)
#Homepage: http://www.opensync.org/wiki/kitchensync
#Description: Synchronization framework
# This package contains a synchronization framework, still under heavy
# development.  Kitchensync uses opensync.
# .
# This package is part of KDE, and a component of the KDE PIM module.
# See the 'kde' and 'kdepim' packages for more information.

Package: kleopatra
Section: net
Architecture: any
Depends: ${shlibs:Depends}, gnupg-agent, gnupg2, gpgsm, dirmngr, pinentry-qt4 | pinentry-x11
Description: KDE Certificate Manager
 Kleopatra is the KDE tool for managing X.509 certificates in the gpgsm
 keybox and for retrieving certificates from LDAP servers.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kmail
Section: mail
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}
Recommends: procmail
Suggests: gnupg, gnupg-agent, pinentry-qt4 | pinentry-x11, kaddressbook, kleopatra, spamassassin | bogofilter | annoyance-filter | spambayes | bsfilter | crm114, clamav | f-prot-installer
Replaces: kmailcvt (<< 4:3.90.0), akonadi-kde (<< 4:4.1.3), kontact (<< 4:4.1.80)
Provides: imap-client, mail-reader
Homepage: http://kontact.kde.org/kmail/
Description: KDE Email client
 KMail is a fully-featured email client that fits nicely into the KDE
 desktop. It has features such as support for IMAP, POP3, multiple accounts,
 mail filtering and sorting, PGP/GnuPG privacy, and inline attachments.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

# Package: kmobiletools
# Section: utils
# Architecture: any
# Depends: ${shlibs:Depends}
# Homepage: http://www.kmobiletools.org/
# Description: KDE application to control mobile phones
#  MobileTools is a KDE application that allows you to control your mobile phone.
#  Actually, this application supports: SMS reading/writing/sending/deleting ,
#  multiple SMS destinations (if supported by the phone), calls handling (dial,
#  answer, close), phonebook reading, viw last answered calls and last unanswered
#  calls lists.
#  .
#  This package is part of KDE, and a component of the KDE PIM module.
#  See the 'kde' and 'kdepim' packages for more information.

Package: knode
Section: news
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kdepim-dev (<< 4:3.4.0), kontact (<< 4:4.1.80)
Provides: news-reader
Homepage: http://kontact.kde.org/knode/
Description: KDE news reader
 KNode is an easy-to-use, convenient newsreader. It is intended to be usable
 by inexperienced users, but also includes support for such features as
 MIME attachments, article scoring, and creating and verifying GnuPG
 signatures.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: knotes
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kdepim-kresources
Replaces: kontact (<< 4:4.1.80)
Description: KDE sticky notes
 KNotes is a program that lets you write sticky notes. The notes are saved
 automatically when you exit the program, and they display when you open the
 program.  The program supports printing and mailing your notes.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: konsolekalendar
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE konsole personal organizer
 KonsoleKalendar is a command-line interface to KDE calendars.
 Konsolekalendar complements the KDE KOrganizer by providing a console
 frontend to manage your calendars.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libkontactinterfaces4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Homepage: http://kontact.kde.org/
Replaces: kontact (<< 4:4.1.80)
Description: KDE Kontact interface library
 This package contains the plugin interface library for KDE Kontact. All
 Kontact plugins link to this library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kontact
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: kmail, knotes, akregator, kaddressbook, korganizer
Suggests: gnokii, kjots, ktimeticker, knode
Homepage: http://kontact.kde.org/
Replaces: korganizer (<< 4:4.1.80), akregator (<< 4:4.1.80)
Description: KDE pim application
 Kontact is the integrated solution to your personal information management
 needs. It combines KDE applications like KMail, KOrganizer, and
 KAddressBook into a single interface to provide easy access to mail,
 scheduling, address book and other PIM functionality.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: korganizer
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends},  akonadi-server (>= 1.1.1 ), kdepim-runtime
Homepage: http://kontact.kde.org/korganizer/
Replaces: kaddressbook (<< 4:4.1.80), kontact (<< 4:4.1.80)
Description: KDE personal organizer
 This package contains KOrganizer, a calendar and scheduling program.
 .
 KOrganizer aims to be a complete program for organizing appointments,
 contacts, projects, etc. KOrganizer natively supports information interchange
 with other calendar applications, through the industry standard vCalendar
 personal data interchange file format. This eases the move from other
 modern PIMs to KOrganizer.
 .
 KOrganizer offers full synchronization with Palm Pilots, if kpilot is
 installed.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kpilot
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>= 0.5) | debconf-2.0, akonadi-server (>= 1.1.1) , kdepim-runtime
Suggests: knotes, korganizer
Homepage: http://cvs.codeyard.net/kpilot/
Description: KDE Palm Pilot hot-sync tool
 KPilot is an application that synchronizes your Palm Pilot or similar device
 (like the Handspring Visor) with your KDE desktop, much like the Palm HotSync
 software does for Windows.  KPilot can back-up and restore your Palm Pilot
 and synchronize the built-in applications with their KDE counterparts.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: ktimetracker
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: karm
Replaces: karm, kontact (<< 4:4.1.80)
Description: KDE time tracker tool
 KTimetracker is a time tracker for busy people who need to keep track
 of the amount of time they spend on various tasks.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libkdepim4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kmail (<< 4:4.1.80)
Description: KDE PIM library
 This is the runtime package for programs that use the libkdepim library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libkleo4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: certificate based crypto library for KDE
 This package contains libkleo, a library for kleopatra and other parts
 of KDE using certificate based crypto.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libkpgp4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: gpg based crypto library for KDE
 This package contains libkpgp4, a gnupg-library for kmail and other parts of
 kdepim using gpg-based crypto.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libksieve4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE mail/news message filtering library
 This is the runtime package for programs that use the libksieve library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libmaildir4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: maildir library for kdepim
 This package provides maildir handling for kdepim programs.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: libmimelib4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE mime library
 This library is used by several KDE applications to handle mime types.
 .
 This is the runtime package for programs that use the libmimelib library.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kdepim-strigi-plugins
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: PIM file format plugins for Strigi Desktop Search
 This packages contains plugins to allow Strigi Desktop Search to easily
 index your PIM-data (calendar, contacts, emails, ...).
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: kjots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kontact (<< 4:4.1.80)
Section: utils
Description: note-taking utility for KDE 4
 Kjots is a notebook utility that organizes notes using groups of pages.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.
