#!/usr/bin/make -f

include debian/cdbs/kde.mk

DEBIANVERSION ?= $(shell dpkg-parsechangelog | grep '^Version: ' | sed 's/^Version: //')

DEB_DH_MAKESHLIBS_ARGS_libkdepim4 := -V'libkdepim4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libkholidays4 := -V'libkholidays4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libkleo4 :=  -V'libkleo4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libkpgp4 :=  -V'libkpgp4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libksieve4 :=  -V'libksieve4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libmaildir4 :=  -V'libmaildir4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libmimelib4 :=  -V'libmimelib4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libkabcommon4 :=  -V'libkabcommon4 (= $(DEBIANVERSION))'
DEB_DH_MAKESHLIBS_ARGS_libkontactinterfaces4 :=  -V'libkontactinterfaces4 (= $(DEBIANVERSION))'
